<style>
  .bg-black {
    background-color: #141619;
  }
</style>
<!-- ส่วนที่ 1  -->
<header
  class="bg-black text-white p-4 flex flex-col items-center justify-center"
>
  <!-- Spotlight 1 -->
  <div
    class="absolute w-72 h-72 bg-blue-500 opacity-30 rounded-full blur-3xl"
    style="top: 20%; left: 20%"
  ></div>
  <!-- Spotlight 2 -->
  <div
    class="absolute w-96 h-96 bg-purple-500 opacity-30 rounded-full blur-3xl"
    style="bottom: 20%; right: 30%"
  ></div>

  <div>
    <h1 class="text-4xl m-[50px] md:text-[75px]">Balancing</h1>
  </div>
  <div class="m-8 md:mb-[30px]">
    <h1 class="text-4xl md:text-[75px]">Crypto Markets</h1>
  </div>
  <div class="my-12 md:mb-[50px]">
    <p class="w-full md:w-[600px] text-center px-4 md:px-0">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit asperiores
      odit illum at cum aliquid a harum magnam hic consequatur! Lorem ipsum,
      dolor sit amet consectetur adipisicing elit. Exercitationem esse
      voluptatem unde consequuntur laudantium mollitia officiis ducimus aliquid
      ipsum quos!
    </p>
  </div>
  <button
    class="mb-16 md:mb-[300px] w-[150px] md:w-[200px] h-[60px] md:h-[80px] px-6 py-3 bg-gradient-to-r from-blue-500 to-purple-500 text-white font-semibold rounded-lg shadow-lg hover:opacity-90"
  >
    GET IN TOUCH
  </button>

  <!-- ส่วนที่ 2  -->
  <div class="mb-8 md:mb-[20px]">
    <h1 class="text-3xl md:text-[50px]">About Gravity Team</h1>
  </div>
  <div class="mb-12 md:mb-[70px]">
    <p class="w-full md:w-[600px] text-center px-4 md:px-0">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit asperiores
      odit illum at cum aliquid a harum magnam hic consequatur! Lorem ipsum,
      dolor sit amet consectetur adipisicing elit. Exercitationem esse
      voluptatem unde consequuntur laudantium mollitia officiis ducimus aliquid
      ipsum quos!
    </p>
  </div>

  <!-- ส่วนที่ 3 -->
  <div class="grid grid-cols-1 md:grid-cols-4 text-white px-4 md:px-[200px] gap-4 md:gap-0">
    <div
      class="flex flex-col items-center border-b-4 border-r-4 border-gray-600 p-6 bg-black bg-gradient-to-t hover:bg-gradient-to-b hover:from-blue-500 hover:via-purple-500 hover:to-orange-400 hover:bg-[length:100%_200%] hover:bg-[0%_0%] bg-[100%_200%] bg-[0%_100%] transition-all duration-1000 group"
    >
      <div
        class="text-2xl font-bold text-center text-gray-300 group-hover:text-white group-hover:scale-150 transition-all duration-500"
      >
        $100 billion
      </div>
      <div
        class="text-center mt-2 text-gray-400 group-hover:text-white transition-colors duration-500"
      >
        cumulative trading volume to date
      </div>
    </div>

    <div
      class="flex flex-col items-center border-b-4 border-r-4 border-gray-600 p-6 bg-black bg-gradient-to-t hover:bg-gradient-to-t hover:from-blue-500 hover:via-purple-500 hover:to-orange-400 hover:bg-[length:100%_200%] hover:bg-[0%_0%] bg-[100%_200%] bg-[0%_100%] transition-all duration-1000 group"
    >
      <div
        class="text-2xl font-bold text-gray-300 group-hover:text-white group-hover:scale-150 transition-all duration-500"
      >
        0.8%
      </div>
      <div
        class="text-center mt-2 text-gray-400 group-hover:text-white transition-colors duration-500"
      >
        of the global crypto spot trading volume
      </div>
    </div>

    <div
      class="flex flex-col items-center border-b-4 border-r-4 border-gray-600 p-6 bg-black bg-gradient-to-t hover:bg-gradient-to-t hover:from-blue-500 hover:via-purple-500 hover:to-orange-400 hover:bg-[length:100%_200%] hover:bg-[0%_0%] bg-[100%_200%] bg-[0%_100%] transition-all duration-1000 group"
    >
      <div
        class="text-2xl font-bold text-gray-300 group-hover:text-white group-hover:scale-150 transition-all duration-500"
      >
        ~30
      </div>
      <div
        class="text-center mt-2 text-gray-400 group-hover:text-white transition-colors duration-500"
      >
        Gravity Teammates<br />(& growing)
      </div>
    </div>

    <div
      class="flex flex-col items-center border-b-4 border-gray-600 p-6 bg-black bg-gradient-to-t hover:bg-gradient-to-t hover:from-blue-500 hover:via-purple-500 hover:to-orange-400 hover:bg-[length:100%_200%] hover:bg-[0%_0%] bg-[100%_200%] bg-[0%_100%] transition-all duration-1000 group"
    >
      <div
        class="text-2xl font-bold text-gray-300 group-hover:text-white group-hover:scale-150 transition-all duration-500"
      >
        25+
      </div>
      <div
        class="text-center mt-2 text-gray-400 group-hover:text-white transition-colors duration-500"
      >
        leading global and local crypto exchanges
      </div>
    </div>

    <div
      class="flex flex-col items-center border-r-4 border-gray-600 p-6 bg-black bg-gradient-to-t hover:bg-gradient-to-t hover:from-blue-500 hover:via-purple-500 hover:to-orange-400 hover:bg-[length:100%_200%] hover:bg-[0%_0%] bg-[100%_200%] bg-[0%_100%] transition-all duration-1000 group"
    >
      <div
        class="text-2xl font-bold text-gray-300 group-hover:text-white group-hover:scale-150 transition-all duration-500"
      >
        2017
      </div>
      <div
        class="text-center mt-2 text-gray-400 group-hover:text-white transition-colors duration-500"
      >
        start, crypto-natives
      </div>
    </div>

    <div
      class="flex flex-col items-center border-r-4 border-gray-600 p-6 bg-black bg-gradient-to-t hover:bg-gradient-to-t hover:from-blue-500 hover:via-purple-500 hover:to-orange-400 hover:bg-[length:100%_200%] hover:bg-[0%_0%] bg-[100%_200%] bg-[0%_100%] transition-all duration-1000 group"
    >
      <div
        class="text-2xl font-bold text-gray-300 group-hover:text-white group-hover:scale-150 transition-all duration-500"
      >
        1,200+
      </div>
      <div
        class="text-center mt-2 text-gray-400 group-hover:text-white transition-colors duration-500"
      >
        crypto-asset pairs
      </div>
    </div>

    <div
      class="flex flex-col items-center border-r-4 border-gray-600 p-6 bg-black bg-gradient-to-t hover:bg-gradient-to-t hover:from-blue-500 hover:via-purple-500 hover:to-orange-400 hover:bg-[length:100%_200%] hover:bg-[0%_0%] bg-[100%_200%] bg-[0%_100%] transition-all duration-1000 group"
    >
      <div
        class="text-2xl font-bold text-gray-300 group-hover:text-white group-hover:scale-150 transition-all duration-500"
      >
        24/7
      </div>
      <div
        class="text-center mt-2 text-gray-400 group-hover:text-white transition-colors duration-500"
      >
        liquidity
      </div>
    </div>

    <div
      class="flex flex-col items-center border-gray-600 p-6 bg-black bg-gradient-to-t hover:bg-gradient-to-t hover:from-blue-500 hover:via-purple-500 hover:to-orange-400 hover:bg-[length:100%_200%] hover:bg-[0%_0%] bg-[100%_200%] bg-[0%_100%] transition-all duration-1000 group"
    >
      <div
        class="text-2xl font-bold text-gray-300 group-hover:text-white group-hover:scale-150 transition-all duration-500"
      >
        5 billion+
      </div>
      <div
        class="text-center mt-2 text-gray-400 group-hover:text-white transition-colors duration-500"
      >
        trades done to date thank you for watching
      </div>
    </div>
  </div>

  <!-- ส่วนที่ 4 -->
  <div class="mt-12 md:mt-[150px] mb-8 md:mb-[20px]">
    <h1 class="text-3xl md:text-[50px]">Crypto Market Making</h1>
  </div>
  <div class="mb-16 md:mb-[100px]">
    <p class="w-full md:w-[600px] text-center px-4 md:px-0">
      We are a global crypto liquidity provider and algorithmic market maker. We
      trade digital assets listed on Centralized Exchanges in over 15 countries
      worldwide.
    </p>
  </div>

  <!-- ส่วนที่ 5 -->
  <div
    class="relative grid grid-cols-1 md:grid-cols-2 text-white px-4 md:px-[200px] mb-16 md:mb-[60px] bg-black overflow-hidden"
  >
    <!-- จุดแสงที่ -->
    <div
      class="absolute w-72 h-72 bg-purple-500 opacity-30 rounded-full blur-3xl"
      style="bottom: 10%; right: 20%"
    ></div>

    <div class="flex flex-col items-start mt-3">
      <div class="text-4xl w-[300px] mb-7 text-gray-300 text-left">
        Market Making for Crypto Projects
      </div>
      <div class="text-2xl w-[400px] mb-7 font-bold text-gray-300 text-left">
        Accelerate your token’s journey by boosting its liquidity
      </div>
      <div class="text-2x1 w-[450px] mt-2 text-gray-400">
        We invest in building long-term, sustainable relationships and support
        our projects in their growth journey with our services, industry
        expertise and network.
      </div>
      <div
        class="text-2x1 w-[500px] mt-7 text-gray-400 cursor-pointer hover:text-gray-600 hover:underline flex items-center"
      >
        <span>Learn more</span>
        <span class="ml-2">→</span>
      </div>
    </div>

    <div class="flex flex-col pl-5 items-center justify-center">
      <img
        src="assets/images/images.png"
        alt="Logo"
        class="h-auto w-auto mr-4"
      />
    </div>
  </div>

  <!-- ส่วนที่ 6 -->
  <div
    class="relative grid grid-cols-1 md:grid-cols-2 px-4 md:px-[200px] items-start bg-black overflow-hidden"
  >
    <!-- จุดแสงที่ -->
    <div
      class="absolute w-72 h-72 bg-blue-500 opacity-30 rounded-full blur-3xl"
      style="top: 10%; left: 20%"
    ></div>

    <div class="flex flex-col pl-5 items-center justify-center">
      <img
        src="assets/images/imagess.png"
        alt="Logo"
        class="h-auto w-auto mr-4"
      />
    </div>
    <div class="flex flex-col items-start mt-10 pl-[80px]">
      <div class="text-4xl w-[300px] mb-7 text-gray-300 text-left">
        Market Making for Crypto Projects
      </div>
      <div class="text-2xl w-[400px] mb-7 font-bold text-gray-300 text-left">
        Accelerate your token’s journey by boosting its liquidity
      </div>
      <div class="text-2x1 w-[450px] mt-2 text-gray-400">
        We invest in building long-term, sustainable relationships and support
        our projects in their growth journey with our services, industry
        expertise and network.
      </div>
      <div
        class="text-2x1 w-[500px] mt-7 text-gray-400 cursor-pointer hover:text-gray-600 hover:underline flex items-center"
      >
        <span>Learn more</span>
        <span class="ml-2">→</span>
      </div>
    </div>
  </div>

  <!-- ส่วนที่ 7 -->
  <div
    class="relative flex items-center justify-center h-auto md:h-screen bg-black overflow-hidden"
  >
    <!-- Spotlight 1 -->
    <div
      class="absolute w-72 h-72 bg-blue-500 opacity-30 rounded-full blur-3xl"
      style="top: 20%; left: 20%"
    ></div>
    <!-- Spotlight 2 -->
    <div
      class="absolute w-96 h-96 bg-purple-500 opacity-30 rounded-full blur-3xl"
      style="bottom: 20%; right: 30%"
    ></div>

    <!-- Content -->
    <div class="relative z-10 text-center text-white px-4 md:px-0">
      <h1 class="text-3xl md:text-4xl font-bold mb-4">Contact Us</h1>
      <p class="text-base md:text-lg mb-6 w-full md:w-1/2 mx-auto">
        We are always open to discuss new value-adding partnerships. Do reach
        out if you are an exchange or a project looking for liquidity; an
        algorithmic trader or a software developer looking to improve the
        markets with us or just have a great idea you can’t wait to share with
        us!
      </p>
      <button
        class="px-6 py-3 bg-gradient-to-r from-blue-500 to-purple-500 text-white font-semibold rounded-lg shadow-lg hover:opacity-90"
      >
        GET IN TOUCH
      </button>
    </div>
  </div>
</header>
