<style>
  .bg-black {
    background-color: #141619;
  }
</style>

<hr class="border-b border-gray-600" />

<footer
  class="bg-black text-white px-[150px] pt-[100px] pb-[50px] flex flex-col items-center justify-between"
>
  <!-- Flex container -->
  <div class="flex justify-between items-start p-5 w-full">
    <!-- Left column -->
    <div class="flex flex-col">
      <p class="font-bold uppercase mb-2">Contact Us:</p>
      <p class="text-gray-400">Credit: Mr.Thanapat Sukkree</p>
      <p class="text-gray-400">Phone: +66 99-418-5781</p>
    </div>

    <!-- Right column -->
    <div class="flex">
      <img src="assets/images/logo.png" alt="Logo" class="h-12 w-auto" />
    </div>
  </div>

  <!-- Second row -->
  <div class="flex justify-between items-start p-5 w-full mt-10">
    <!-- Left column -->
    <div class="flex flex-col text-gray-400">
        Terms of Use & Privacy Policy
    </div>

    <!-- Right column -->
    <div class="flex flex-col text-gray-400">
        2025 clone website : Team Gravity.
    </div>
  </div>
</footer>
